@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+VA+Guides&display=swap");
body {
  background: #242323;
}
.wrapper {
  height: 100%;
  // overflow: hidden;
}
.container {
  max-width: 700px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  font-size: 35px;
  color: #fff;
  margin: 100px 0 20px 0;
}
.main__section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main__input {
  flex: 1 1 auto;
  padding: 8px;
  font-size: 20px;
  border-radius: 6.5px;
}

.list__item {
  display: flex;
  // justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px;
  font-size: 20px;
  color: #5ba001;
}
.load {
  margin: 10px 0 0 0;
  font-size: 20px;
  color: #fff;
}

.error {
  font-size: 20px;
  color: #ff0000;
}

.notFound {
  margin: 20px 0 0 0;
  font-size: 20px;
  color: rgb(0, 74, 158);
}
